# Virtual Environment
venv/
env/
.env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# NLTK Data
nltk_data/

# Logs
*.log
logs/

# Model dosyaları
*.h5
*.vec
models/
best_model*
models/*.keras
models/*.joblib
models/*.npy

# Security
*.pem
*.key
*.crt

# Misc
Adsız.rtf 